
  body {
    background-color: #f8f9fa;
    font-family: "Poppins", sans-serif;
  }

  .container {
    max-width: 900px;
  }

  .page-title-box {
    margin: 20px 0;
  }

  .btn-black {
    background: #000;
    color: #fff;
  }

  .btn-black:hover {
    background: #333;
  }

  .select-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
}

.select-box label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.styled-multiselect {
  width: 100%;
  height: 180px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-size: 14px;
}

.selected-preview {
  margin-top: 10px;
  padding: 10px;
  min-height: 45px;
  border-radius: 8px;
  border: 1px dashed #bbb;
  background: #fdfdfd;
}

.preview-badge {
  display: inline-block;
  background: #401f75;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 3px;
  font-size: 13px;
}


